/* global css */
*{
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif !important;
    background-color: #0d1116;
    color: #fff;
}

.header {
    max-width: 72rem;
    backdrop-filter: blur(0.4rem);
    margin: 0px auto;
    position: sticky;
    top: 0px;
    z-index: 10;
}

a:hover, .active, a:active{
    color: #fff !important;
}

a:focus {
    color: #888f98 !important;
}

.text-color {
    color: #888f98 ;
}

.min-h-body {
    min-height: calc(-5.75rem + 100vh);
}

.second-icon {
    font-size: 20px;
    width: 20px;
}

p {
    color: #C9d1D9;
    font-size: 20px;
}

strong {
    color: #fff;
}

.content {
    max-width: 48rem;
    min-height: inherit;
    margin: 0px auto;
    padding: 4rem 2rem 10rem;
    min-height: calc(-5.75rem + 100vh);
}
